.content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-flow: row;
  gap: 15px 30px;
  font-size: 10px;
  text-align: center;
  margin-top: 60px;
  justify-content: center;
}

.item {
  flex-direction: column;
  justify-content: center;
}

.img {
  margin-bottom: 15px;
  border-radius: 15px;
  transition:  transform 1s;
}

.img:hover{
  transform:rotate(5deg);
}

.title {
  justify-content: center;
  font-style:italic;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}

