html {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
body *:not(script) {
  all: unset;
  box-sizing: border-box;
  display: flex;
}

#root[data-theme="dark"] {
  --background-color: black;
  --font-color:rgb(162, 198, 241);
}

#root[data-theme="light"] {
  --background-color: rgb(236, 235, 235);
  --font-color:black;
}

#root {
  flex-direction: column;
  min-height: 100vh;
}

button:hover,
a:hover {
  cursor: pointer;
}
